:root{
    --base: #b31111c1;
    --spacing: 10px;
    --blur: 0px;
}
body{
    text-align: center;
    background: #193549;
    color:white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 30px;
}
.options{
    margin-bottom: 30px;
}
.h1{
    color: var(--base);
}
img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    height: 60vh;
}
.download-container {
    margin: 20px;
}
#downloadBtn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--base);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#downloadBtn:hover {
    background-color: #FFFc60;
    color: #193549;
}
#uploadBtn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--base);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#uploadBtn:hover {
    background-color: #FFFc60;
    color: #193549;
}